<h1>VOILA LA REPONSE:</h1>

<p class="rep"> Vous vous appelez <%=params[:nom]%> <%=params[:prénom]%>.</p>
<p class="rep"> Vous avez <%=params[:age]%> ans.</p>
<p class="rep"> Vous habitez à <%=params[:ville]%> en <%=params[:pays]%>.</p>


